= render "/refinery/html_tag"
- site_bar = render('/site_bar', :head => true)
%head
  = render "/head"
  = render "/refinery/head"

%body{:id => "#{canonical_id @page}"}
  = site_bar
  #page_container.susy
    %header#header
      = render "/refinery/header"
    %section#page
      = yield
    %footer
      = render "/refinery/footer"

= render "/scripts"